@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Karla:wght@200&family=Pacifico&display=swap');

.container {
    padding: 20px;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Karla', sans-serif;


}

.intro h1 {
    font-size: 30px;
    line-height: 1.4;
    color: #ff247d;
    padding-top: 150px;
    position: relative;
    margin-left: 15%;

}

.intro span {
    font-size: 18px;
    color: #ff247d;
}

.links {
    display: flex;
    align-items: center;
}

.links a{
    color: white;
    margin-right: 10px;
}
